  body {
  margin: 0;
  }
#caja {
  width: 100%;
  height: 100%px;
  background-color: #18a0fb;


  }
#titulo {
  color: rgb(253, 0, 0);
  font-weight: 600;
  }
#titulo1 {
  color: rgba(25, 136, 49, 0.493);
  }
#titulo2 {
  color: rgb(4, 0, 255);
  }
#titulo3 {
  color: rgb(0, 128, 58);
  }
#nombre {
  color: #2b021d;
    
  }
#caja-textos {
  border: 5px solid rgb(4, 0, 255) ; 
  display: flex;
  justify-content: center;
}
#Marc {
  border: 5px solid rgb(253, 0, 0) ;
  display: flex;
  justify-content: center;
}
#Blanco {
  display: flex;
  justify-content: center;
  border: 5px solid rebeccapurple;
  }
  #Mendoza {
border: 5px solid rgb(0, 128, 58);
display: flex;
justify-content: center;
  }

#imagen   {
  display: flex;
  justify-content: center;
  width: 600px;
}
#li {
  display: flex;  
}